**Load Dataset**

In [1]:
import pandas as pd

df1 = pd.read_csv("student-scores.csv")
df = df1.copy()
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

**drop irrelevant columns**

In [2]:
df.drop(columns = ['id','first_name','last_name','email'],axis=1, inplace=True)

In [3]:
df.columns

Index(['gender', 'part_time_job', 'absence_days', 'extracurricular_activities',
       'weekly_self_study_hours', 'career_aspiration', 'math_score',
       'history_score', 'physics_score', 'chemistry_score', 'biology_score',
       'english_score', 'geography_score'],
      dtype='object')

In [4]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

**create new features from all score**

In [5]:
df["total_score"] = (
    df["math_score"] 
    + df["history_score"] 
    + df["physics_score"] 
    + df["chemistry_score"] 
    + df["biology_score"] 
    + df["english_score"] 
    + df["geography_score"]
)
df["average_score"] = df["total_score"] / 7
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

In [6]:
df['career_aspiration']

0                      Lawyer
1                      Doctor
2          Government Officer
3                      Artist
4                     Unknown
                ...
1995    Construction Engineer
1996        Software Engineer
1997        Software Engineer
1998           Business Owner
1999               Accountant
Name: career_aspiration, Length: 2000, dtype: object

In [7]:
len(df['career_aspiration'].unique())

17

In [8]:
df['career_aspiration'].unique()

array(['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
       'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
       'Banker', 'Writer', 'Accountant', 'Designer',
       'Construction Engineer', 'Game Developer', 'Stock Investor',
       'Real Estate Developer'], dtype=object)

**Encoding Categorical Columns**

In [9]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82,558,79.714286
1996,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73,534,76.285714
1997,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78,578,82.571429
1998,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75,566,80.857143
1999,female,False,5,False,27,Accountant,82,99,91,69,83,93,100,617,88.142857

In [10]:
gender_map = {'male': 0, 'female': 1}
part_time_job_map = {False: 0, True: 1}
extracurricular_activities_map = {False: 0, True: 1}
career_aspiration_map = {'Lawyer' : 0, 'Doctor' : 1, 'Government Officer' : 2, 'Artist' : 3, 'Unknown' : 4,
       'Software Engineer' : 5, 'Teacher' : 6, 'Business Owner' : 7, 'Scientist' : 8,
       'Banker' : 9, 'Writer' : 10, 'Accountant' : 11, 'Designer' : 12,
       'Construction Engineer' : 13, 'Game Developer' : 14, 'Stock Investor' : 15,
       'Real Estate Developer' : 12}
    

#applied mapping to the Dataframe
df['gender'] = df['gender'].map(gender_map)
df['part_time_job'] = df['part_time_job'].map(part_time_job_map)
df['extracurricular_activities'] = df['extracurricular_activities'].map(extracurricular_activities_map)
df['career_aspiration'] = df['career_aspiration'].map(career_aspiration_map)

In [11]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,0,0,3,0,27,0,73,81,93,97,63,80,87,574,82.000000
1,1,0,2,0,47,1,90,86,96,100,90,88,90,640,91.428571
2,1,0,9,1,13,2,81,97,95,96,65,77,94,605,86.428571
3,1,0,5,0,3,3,71,74,88,80,89,63,86,551,78.714286
4,0,0,5,0,10,4,84,77,65,65,80,74,76,521,74.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,2,0,30,13,83,77,84,73,75,84,82,558,79.714286
1996,0,0,2,0,20,5,89,65,73,80,87,67,73,534,76.285714
1997,1,0,5,0,14,5,97,85,63,93,68,94,78,578,82.571429
1998,1,1,10,1,5,7,51,96,72,89,95,88,75,566,80.857143
1999,1,0,5,0,27,11,82,99,91,69,83,93,100,617,88.142857

In [12]:
df.shape

(2000, 15)

**Balance Dataset**

In [13]:
df['career_aspiration'].value_counts()

career_aspiration
5     315
7     309
4     223
9     169
12    139
0     138
11    126
1     119
15     73
13     68
3      67
14     63
2      61
6      59
8      39
10     32
Name: count, dtype: int64

In [14]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.26.3)
Requirement already satisfied: scipy<2,>=1.10.1 in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.15.1)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.6.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (3.5.0)

In [15]:
from imblearn.over_sampling import SMOTE

#create SMOTE object
smote = SMOTE(random_state=42)

#seperate features and target variable
X = df.drop('career_aspiration', axis=1)
y = df['career_aspiration']

#apply SMOTE to the data
X_resampled, y_resampled = smote.fit_resample(X,y)  #stored input values in X columns and target values in y column

In [16]:
y_resampled.value_counts

<bound method IndexOpsMixin.value_counts of 0        0
1        1
2        2
3        3
4        4
        ..
5035    15
5036    15
5037    15
5038    15
5039    15
Name: career_aspiration, Length: 5040, dtype: int64>

In [17]:
y_resampled.shape

(5040,)

In [18]:
X_resampled.shape

(5040, 14)

**Train test Split**

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled, test_size=0.2, random_state=42)

In [20]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4032, 14), (4032,), (1008, 14), (1008,))

print(type(X_resampled), type(y_resampled))
print(X_resampled.shape, y_resampled.shape)  # If these are NumPy arrays or Pandas DataFrames

**Feature Scaling**

In [21]:
X_train

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
4982,0,0,5,0,27,92,94,85,92,98,93,87,643,91.922789
463,1,0,1,0,33,80,71,94,92,92,60,78,567,81.000000
2370,0,0,4,0,29,97,65,97,89,86,72,84,595,85.000000
3196,1,0,3,0,9,63,70,75,68,78,75,68,500,71.495523
2045,0,0,0,0,32,94,85,78,65,95,86,94,600,85.750440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0,0,6,0,14,98,63,83,64,82,90,80,563,80.535162
466,0,0,5,0,17,83,95,86,80,64,66,97,571,81.571429
3092,1,0,2,0,11,65,73,92,61,93,92,86,565,80.807391
3772,0,0,2,0,21,71,72,84,89,74,93,65,551,78.854845
860,0,0,4,0,25,100,62,78,74,72,73,78,537,76.714286

In [22]:
from sklearn.preprocessing import StandardScaler

#Initialize the StandardScaler
scaler = StandardScaler()

#fit the sclaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [23]:
X_train_scaled

array([[-0.78034515, -0.26683487,  0.88484122, ...,  0.56124968,
         1.77411604,  1.77638455],
       [ 1.28148423, -0.26683487, -0.93679769, ..., -0.273243  ,
        -0.16579991, -0.17334979],
       [-0.78034515, -0.26683487,  0.42943149, ...,  0.28308545,
         0.54890596,  0.54065623],
       ...,
       [ 1.28148423, -0.26683487, -0.48138796, ...,  0.46852827,
        -0.21685033, -0.20773077],
       [-0.78034515, -0.26683487, -0.48138796, ..., -1.47862133,
        -0.57420327, -0.55626321],
       [-0.78034515, -0.26683487,  0.42943149, ..., -0.273243  ,
        -0.93155621, -0.93835624]])

In [24]:
!pip uninstall scikit-learn -y

Found existing installation: scikit-learn 1.6.1
Uninstalling scikit-learn-1.6.1:
  Successfully uninstalled scikit-learn-1.6.1

WARNING: Failed to remove contents in a temporary directory 'C:\Users\anshuaditya12\AppData\Local\Programs\Python\Python312\Lib\site-packages\~-learn'.
You can safely remove it manually.

In [ ]:
!pip install --upgrade scikit-learn

In [26]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from xgboost) (1.26.3)
Requirement already satisfied: scipy in c:\users\anshuaditya12\appdata\local\programs\python\python312\lib\site-packages (from xgboost) (1.15.1)

**Models Training (Multiple Models)**

In [27]:
# Import necessary algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier  # Fixed import
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier  # Fixed import
from sklearn.ensemble import GradientBoostingClassifier  # Fixed import
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Suppress warnings
import warnings
warnings.filterwarnings("ignore")

#create Dictionaries to define models
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier": SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Gaussian Naive Bayes": GaussianNB(),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "XGBoost Classifier": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
}

#Train and evaluate each model
for name, model in models.items():
        print("=" * 50)
        print("Model:", name)
        # Train the model
        model.fit(X_train_scaled, y_train)
    
        # Predict on test set
        y_pred = model.predict(X_test_scaled)
    
        # Calculate metrics
        accuracy = accuracy_score(y_test, y_pred)
        classification_rep = classification_report(y_test, y_pred)
        conf_matrix = confusion_matrix(y_test, y_pred)
    
        # Print metrics
        print("Accuracy:", accuracy)
        print("Classification Report:\n", classification_rep)
        print("Confusion Matrix:\n", conf_matrix)

==================================================
Model: Logistic Regression
Accuracy: 0.4791666666666667
Classification Report:
               precision    recall  f1-score   support

           0       0.43      0.51      0.46        75
           1       0.45      0.58      0.51        60
           2       0.43      0.42      0.42        53
           3       0.73      0.58      0.65        69
           4       0.34      0.16      0.22        68
           5       0.32      0.34      0.33        70
           6       0.47      0.93      0.62        54
           7       0.88      0.85      0.87        62
           8       0.49      0.48      0.48        63
           9       0.14      0.05      0.07        61
          10       0.59      0.73      0.65        70
          11       0.50      0.46      0.48        65
          12       0.21      0.11      0.14        57
          13       0.29      0.44      0.35        54
          14       0.64      0.85      0.73        61
          15       0.35      0.21      0.26        66

    accuracy                           0.48      1008
   macro avg       0.45      0.48      0.45      1008
weighted avg       0.46      0.48      0.45      1008

Confusion Matrix:
 [[38  3  0  0  0  6  0  0  8  1 11  1  0  7  0  0]
 [ 5 35  0  0  0  7  0  0  6  0  1  0  0  6  0  0]
 [ 0  0 22  0  1  1  8  0  0  0  3  0 10  2  2  4]
 [ 0  0  8 40  0  0  9  2  0  0  0  0  0  0 10  0]
 [ 9  5  4  1 11  9  7  1  2  1  1  5  4  3  2  3]
 [ 5  8  0  0  1 24  2  0  2  7  0  4  0 14  0  3]
 [ 0  0  0  0  1  0 50  0  0  0  2  0  1  0  0  0]
 [ 0  0  0  3  0  0  1 53  0  0  0  0  0  0  5  0]
 [ 4 16  0  0  0  0  0  0 30  1 10  0  0  1  0  1]
 [13  1  1  0  6 11  8  0  1  3  3  4  1  6  0  3]
 [ 4  1  0  0  0  0  7  0  2  1 51  0  1  2  1  0]
 [ 2  3  0  0  4  7  4  0  4  1  0 30  0  7  0  3]
 [ 1  2 11  6  2  2  8  2  2  0  2  0  6  2  9  2]
 [ 3  1  1  0  2  3  0  0  4  4  1  4  0 24  0  7]
 [ 0  0  1  5  0  0  1  1  0  0  0  0  1  0 52  0]
 [ 5  3  3  0  4  5  1  1  0  3  2 12  5  8  0 14]]
==================================================
Model: Support Vector Classifier
Accuracy: 0.6319444444444444
Classification Report:
               precision    recall  f1-score   support

           0       0.56      0.65      0.60        75
           1       0.55      0.77      0.64        60
           2       0.64      0.77      0.70        53
           3       0.82      0.84      0.83        69
           4       0.50      0.15      0.23        68
           5       0.32      0.27      0.29        70
           6       0.66      0.89      0.76        54
           7       0.85      0.89      0.87        62
           8       0.66      0.81      0.73        63
           9       0.33      0.28      0.30        61
          10       0.84      0.89      0.86        70
          11       0.80      0.43      0.56        65
          12       0.54      0.33      0.41        57
          13       0.51      0.83      0.63        54
          14       0.77      0.87      0.82        61
          15       0.68      0.55      0.61        66

    accuracy                           0.63      1008
   macro avg       0.63      0.64      0.61      1008
weighted avg       0.63      0.63      0.61      1008

Confusion Matrix:
 [[49  6  0  0  0  3  0  0  4  4  6  0  0  2  0  1]
 [ 2 46  0  0  0  2  0  0  5  0  0  0  0  2  0  3]
 [ 0  0 41  2  0  2  3  0  0  1  0  0  2  0  0  2]
 [ 0  0  2 58  1  0  0  2  0  0  0  0  0  0  6  0]
 [ 6  7  8  0 10  9  4  1  1  7  0  3  4  4  3  1]
 [ 5  7  0  0  0 19  2  1  4 11  0  1  0 16  0  4]
 [ 0  0  0  0  1  0 48  0  0  2  1  0  2  0  0  0]
 [ 0  0  0  1  0  0  1 55  0  0  0  1  2  0  2  0]
 [ 1 10  0  0  0  1  0  0 51  0  0  0  0  0  0  0]
 [ 9  2  1  0  3 10  6  1  3 17  0  1  1  5  0  2]
 [ 2  1  3  0  0  0  0  0  1  1 62  0  0  0  0  0]
 [ 4  4  1  0  1  6  0  1  4  4  2 28  1  5  0  4]
 [ 1  0  5  7  3  2  8  1  1  0  3  0 19  2  5  0]
 [ 1  1  0  0  0  3  0  0  2  2  0  0  0 45  0  0]
 [ 0  0  1  1  0  0  0  3  0  0  0  0  3  0 53  0]
 [ 7  0  2  2  1  3  1  0  1  3  0  1  1  8  0 36]]
==================================================
Model: Random Forest Classifier
Accuracy: 0.808531746031746
Classification Report:
               precision    recall  f1-score   support

           0       0.74      0.85      0.80        75
           1       0.77      0.95      0.85        60
           2       0.76      0.94      0.84        53
           3       0.90      0.96      0.93        69
           4       0.85      0.43      0.57        68
           5       0.50      0.34      0.41        70
           6       0.83      1.00      0.91        54
           7       0.93      0.92      0.93        62
           8       0.79      0.98      0.88        63
           9       0.66      0.67      0.67        61
          10       0.90      0.93      0.92        70
          11       0.92      0.74      0.82        65
          12       0.85      0.51      0.64        57
          13       0.74      0.94      0.83        54
          14       0.86      0.97      0.91        61
          15       0.91      0.89      0.90        66

    accuracy                           0.81      1008
   macro avg       0.81      0.81      0.80      1008
weighted avg       0.81      0.81      0.80      1008

Confusion Matrix:
 [[64  1  0  0  0  2  0  0  1  2  1  1  0  2  0  1]
 [ 0 57  0  0  0  0  0  0  0  2  0  0  0  1  0  0]
 [ 0  0 50  0  0  0  1  0  0  0  0  0  1  0  1  0]
 [ 0  0  0 66  0  0  0  1  0  0  0  0  0  0  2  0]
 [ 5  4  6  3 29  9  1  1  2  3  0  0  1  3  1  0]
 [ 5  5  0  0  3 24  2  0  6  9  2  2  0  9  0  3]
 [ 0  0  0  0  0  0 54  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0 57  0  0  0  0  2  0  2  0]
 [ 0  0  0  0  0  0  0  0 62  1  0  0  0  0  0  0]
 [ 4  0  1  0  0  6  3  0  2 41  2  1  0  1  0  0]
 [ 2  1  1  0  0  0  0  0  1  0 65  0  0  0  0  0]
 [ 2  4  0  0  1  3  2  0  3  1  0 48  1  0  0  0]
 [ 3  1  5  1  1  2  2  2  1  1  2  0 29  1  4  2]
 [ 0  1  0  0  0  1  0  0  0  1  0  0  0 51  0  0]
 [ 0  0  0  2  0  0  0  0  0  0  0  0  0  0 59  0]
 [ 1  0  3  0  0  1  0  0  0  1  0  0  0  1  0 59]]
==================================================
Model: K Nearest Neighbors
Accuracy: 0.6607142857142857
Classification Report:
               precision    recall  f1-score   support

           0       0.54      0.69      0.61        75
           1       0.66      0.85      0.74        60
           2       0.64      0.91      0.75        53
           3       0.70      0.83      0.76        69
           4       0.40      0.18      0.24        68
           5       0.33      0.16      0.21        70
           6       0.74      0.91      0.82        54
           7       0.87      0.76      0.81        62
           8       0.78      0.90      0.84        63
           9       0.38      0.38      0.38        61
          10       0.83      0.93      0.88        70
          11       0.67      0.55      0.61        65
          12       0.49      0.33      0.40        57
          13       0.67      0.80      0.73        54
          14       0.85      0.84      0.84        61
          15       0.67      0.68      0.68        66

    accuracy                           0.66      1008
   macro avg       0.64      0.67      0.64      1008
weighted avg       0.64      0.66      0.64      1008

Confusion Matrix:
 [[52  2  0  0  1  3  0  0  0  8  4  1  0  1  0  3]
 [ 2 51  0  0  0  1  0  0  0  2  1  1  0  1  0  1]
 [ 1  0 48  1  0  1  0  0  0  0  0  0  0  0  2  0]
 [ 0  0  2 57  2  0  1  2  0  0  0  0  2  0  3  0]
 [10  6  9  3 12  3  3  1  3  6  1  4  2  1  0  4]
 [ 8  4  1  0  8 11  2  1  6  8  1  4  3 10  0  3]
 [ 0  0  1  1  1  0 49  0  0  2  0  0  0  0  0  0]
 [ 0  1  0  2  2  0  2 47  0  0  0  2  3  0  1  2]
 [ 1  5  0  0  0  0  0  0 57  0  0  0  0  0  0  0]
 [ 6  3  2  3  2  4  2  1  2 23  1  4  3  3  0  2]
 [ 2  0  0  0  0  0  0  0  1  1 65  0  1  0  0  0]
 [ 5  3  2  1  1  5  1  0  3  2  2 36  0  2  0  2]
 [ 3  1  6  7  0  1  5  2  1  4  3  1 19  1  1  2]
 [ 3  1  0  1  0  2  0  0  0  2  0  0  0 43  1  1]
 [ 0  0  1  2  0  0  1  0  0  0  0  0  4  0 51  2]
 [ 3  0  3  3  1  2  0  0  0  3  0  1  2  2  1 45]]
==================================================
Model: Decision Tree Classifier
Accuracy: 0.6646825396825397
Classification Report:
               precision    recall  f1-score   support

           0       0.66      0.64      0.65        75
           1       0.80      0.75      0.78        60
           2       0.73      0.83      0.78        53
           3       0.74      0.75      0.75        69
           4       0.48      0.31      0.38        68
           5       0.31      0.23      0.26        70
           6       0.79      0.93      0.85        54
           7       0.80      0.73      0.76        62
           8       0.85      0.92      0.89        63
           9       0.49      0.48      0.48        61
          10       0.84      0.84      0.84        70
          11       0.55      0.66      0.60        65
          12       0.42      0.54      0.47        57
          13       0.66      0.76      0.71        54
          14       0.82      0.75      0.79        61
          15       0.62      0.64      0.63        66

    accuracy                           0.66      1008
   macro avg       0.66      0.67      0.66      1008
weighted avg       0.66      0.66      0.66      1008

Confusion Matrix:
 [[48  1  0  0  1  3  0  0  0  8  7  3  0  3  0  1]
 [ 3 45  0  0  2  1  0  0  1  2  0  0  3  1  0  2]
 [ 0  0 44  0  1  0  1  0  0  0  0  0  3  1  2  1]
 [ 0  0  1 52  0  0  0  6  0  0  0  0  7  0  3  0]
 [ 3  3  4  2 21  8  2  1  1  3  1  6  7  2  1  3]
 [ 6  2  2  0  7 16  1  0  4  5  1 12  1  7  0  6]
 [ 1  0  0  0  1  0 50  0  0  1  0  0  1  0  0  0]
 [ 0  0  0  6  2  0  0 45  0  0  0  0  7  0  2  0]
 [ 1  2  0  0  0  1  0  0 58  0  0  1  0  0  0  0]
 [ 6  0  2  0  2  5  4  0  0 29  0  7  3  1  0  2]
 [ 0  0  0  0  0  0  0  0  1  5 59  1  2  2  0  0]
 [ 4  1  0  0  0  7  1  0  1  3  0 43  1  2  0  2]
 [ 0  0  4  3  1  1  3  2  2  0  1  1 31  1  2  5]
 [ 0  2  1  0  2  4  0  0  0  0  0  0  0 41  0  4]
 [ 0  0  1  7  0  0  0  2  0  0  0  0  5  0 46  0]
 [ 1  0  1  0  4  5  1  0  0  3  1  4  3  1  0 42]]
==================================================
Model: Gaussian Naive Bayes
Accuracy: 0.29464285714285715
Classification Report:
               precision    recall  f1-score   support

           0       0.68      0.20      0.31        75
           1       0.62      0.47      0.53        60
           2       0.11      0.04      0.06        53
           3       0.67      0.23      0.34        69
           4       0.44      0.12      0.19        68
           5       0.39      0.17      0.24        70
           6       0.25      1.00      0.41        54
           7       0.88      0.82      0.85        62
           8       0.53      0.16      0.24        63
           9       0.25      0.05      0.08        61
          10       0.65      0.40      0.50        70
          11       0.60      0.23      0.33        65
          12       0.00      0.00      0.00        57
          13       0.11      0.94      0.20        54
          14       0.25      0.03      0.06        61
          15       0.22      0.03      0.05        66

    accuracy                           0.29      1008
   macro avg       0.42      0.31      0.27      1008
weighted avg       0.43      0.29      0.28      1008

Confusion Matrix:
 [[15  1  0  0  0  2  5  0  3  0  7  1  0 41  0  0]
 [ 0 28  0  0  0  2  3  0  5  0  0  0  0 21  0  1]
 [ 0  0  2  1  0  1 17  0  0  0  0  0  0 29  0  3]
 [ 0  0  2 16  0  0 23  4  0  0  0  0  0 21  3  0]
 [ 2  2  3  1  8  4 12  0  0  2  0  4  1 27  1  1]
 [ 2  4  0  0  2 12 12  0  0  2  1  3  0 30  0  2]
 [ 0  0  0  0  0  0 54  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  4 51  0  0  0  0  1  3  1  0]
 [ 0  2  0  0  0  1  0  0 10  2  0  0  0 48  0  0]
 [ 2  1  1  0  2  2 16  0  1  3  5  2  0 26  0  0]
 [ 1  3  0  0  0  0 14  0  0  1 28  0  0 23  0  0]
 [ 0  0  0  0  0  1 14  0  0  0  1 15  0 34  0  0]
 [ 0  3 10  4  1  1 18  2  0  1  1  0  0 15  1  0]
 [ 0  1  0  0  0  2  0  0  0  0  0  0  0 51  0  0]
 [ 0  0  0  0  0  0 16  1  0  0  0  0  0 42  2  0]
 [ 0  0  0  0  5  3  4  0  0  1  0  0  0 51  0  2]]
==================================================
Model: AdaBoost Classifier
Accuracy: 0.22123015873015872
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00        75
           1       1.00      0.50      0.67        60
           2       0.00      0.00      0.00        53
           3       0.25      0.22      0.23        69
           4       0.27      0.25      0.26        68
           5       0.00      0.00      0.00        70
           6       0.19      0.52      0.28        54
           7       0.00      0.00      0.00        62
           8       0.21      0.22      0.21        63
           9       0.00      0.00      0.00        61
          10       0.56      0.61      0.59        70
          11       1.00      0.15      0.27        65
          12       0.13      0.53      0.21        57
          13       0.13      0.44      0.20        54
          14       0.00      0.00      0.00        61
          15       0.09      0.18      0.12        66

    accuracy                           0.22      1008
   macro avg       0.24      0.23      0.19      1008
weighted avg       0.24      0.22      0.19      1008

Confusion Matrix:
 [[ 0  0  0  0  1  0  0  0 18  0 14  0  0 21  0 21]
 [ 0 30  0  0  0  0  0  0  3  0  0  0  0 20  0  7]
 [ 0  0  0  2  3  0 22  0  0  0  0  0 26  0  0  0]
 [ 0  0  0 15  0  0  0  0  0  0  0  0 54  0  0  0]
 [ 0  0  0  3 17  0  5  0  5  1  2  0  9 17  0  9]
 [ 0  0  0  0  6  0 13  0  8  0  0  0  0 25  0 18]
 [ 0  0  0  0 14  0 28  0  0  0  1  0 11  0  0  0]
 [ 0  0  0 19  0  0  0  0  0  0  0  0 43  0  0  0]
 [ 0  0  0  0  0  0  0  0 14  0  7  0  0  0  0 42]
 [ 0  0  0  0  1  0 15  0  6  0  7  0  5 17  0 10]
 [ 0  0  0  0  2  0 13  0  5  0 43  0  0  7  0  0]
 [ 0  0  0  0  6  0 17  0  2  0  1 10  0 20  0  9]
 [ 0  0  0  3  6  0  9  0  2  0  2  0 30  3  0  2]
 [ 0  0  0  0  6  0 15  0  2  0  0  0  1 24  0  6]
 [ 0  0  0 19  0  0  0  0  0  0  0  0 42  0  0  0]
 [ 0  0  0  0  2  0 12  0  3  0  0  0 10 27  0 12]]
==================================================
Model: Gradient Boosting Classifier
Accuracy: 0.7351190476190477
Classification Report:
               precision    recall  f1-score   support

           0       0.66      0.79      0.72        75
           1       0.80      0.92      0.85        60
           2       0.71      0.91      0.79        53
           3       0.85      0.84      0.85        69
           4       0.70      0.31      0.43        68
           5       0.46      0.41      0.44        70
           6       0.75      1.00      0.86        54
           7       0.94      0.95      0.94        62
           8       0.78      1.00      0.88        63
           9       0.44      0.34      0.39        61
          10       0.87      0.94      0.90        70
          11       0.88      0.66      0.75        65
          12       0.72      0.40      0.52        57
          13       0.64      0.81      0.72        54
          14       0.79      0.89      0.84        61
          15       0.71      0.67      0.69        66

    accuracy                           0.74      1008
   macro avg       0.73      0.74      0.72      1008
weighted avg       0.73      0.74      0.72      1008

Confusion Matrix:
 [[59  1  0  0  1  5  0  0  2  2  1  0  0  3  0  1]
 [ 0 55  0  0  0  1  0  0  2  0  0  0  0  0  0  2]
 [ 0  0 48  0  2  1  0  0  0  0  0  0  1  0  1  0]
 [ 0  0  2 58  1  0  0  1  0  0  0  0  1  0  6  0]
 [ 5  3  5  1 21 10  2  0  1  7  1  0  3  4  1  4]
 [ 8  3  0  0  0 29  2  0  4  6  1  2  0 10  0  5]
 [ 0  0  0  0  0  0 54  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 59  0  0  0  0  0  0  1  0]
 [ 0  0  0  0  0  0  0  0 63  0  0  0  0  0  0  0]
 [11  1  4  0  0  4  7  0  3 21  3  2  0  2  0  3]
 [ 1  1  0  0  0  0  0  0  1  1 66  0  0  0  0  0]
 [ 2  3  0  0  1  4  2  0  4  3  0 43  0  1  0  2]
 [ 1  1  6  3  2  1  4  2  0  3  4  0 23  1  5  1]
 [ 2  0  1  0  1  4  0  0  1  0  0  0  1 44  0  0]
 [ 0  0  1  4  0  0  0  1  0  0  0  0  1  0 54  0]
 [ 1  1  1  0  1  4  1  0  0  5  0  2  2  4  0 44]]
==================================================
Model: XGBoost Classifier
Accuracy: 0.8115079365079365
Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.87      0.84        75
           1       0.79      0.95      0.86        60
           2       0.74      0.94      0.83        53
           3       0.94      0.93      0.93        69
           4       0.82      0.40      0.53        68
           5       0.47      0.43      0.45        70
           6       0.81      1.00      0.89        54
           7       0.92      0.90      0.91        62
           8       0.84      1.00      0.91        63
           9       0.68      0.62      0.65        61
          10       0.93      0.93      0.93        70
          11       0.87      0.72      0.79        65
          12       0.86      0.65      0.74        57
          13       0.76      0.94      0.84        54
          14       0.90      0.93      0.92        61
          15       0.85      0.86      0.86        66

    accuracy                           0.81      1008
   macro avg       0.81      0.82      0.81      1008
weighted avg       0.81      0.81      0.80      1008

Confusion Matrix:
 [[65  0  0  0  1  4  0  0  0  2  1  0  0  2  0  0]
 [ 0 57  0  0  0  1  0  0  0  0  0  0  0  0  0  2]
 [ 0  0 50  0  0  1  1  0  0  0  0  0  0  0  1  0]
 [ 0  0  2 64  1  0  0  1  0  0  0  0  0  0  1  0]
 [ 3  4  7  1 27 10  2  1  1  4  2  0  2  2  0  2]
 [ 5  4  0  0  0 30  4  0  3  7  1  2  0 10  0  4]
 [ 0  0  0  0  0  0 54  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0 56  0  0  0  0  2  0  1  0]
 [ 0  0  0  0  0  0  0  0 63  0  0  0  0  0  0  0]
 [ 5  1  1  0  0  6  3  0  3 38  1  2  0  0  0  1]
 [ 0  0  0  0  0  0  0  0  2  1 65  1  0  1  0  0]
 [ 1  4  0  0  0  6  2  0  3  2  0 47  0  0  0  0]
 [ 1  2  4  0  3  2  1  2  0  0  0  0 37  1  3  1]
 [ 0  0  0  0  1  1  0  0  0  1  0  0  0 51  0  0]
 [ 0  0  2  0  0  0  0  1  0  0  0  0  1  0 57  0]
 [ 0  0  2  0  0  3  0  0  0  1  0  2  1  0  0 57]]

**Model Selection (Random Forest)**

In [28]:
import sklearn
print(sklearn.__version__)

1.6.1

In [29]:
model = RandomForestClassifier()

model.fit(X_train_scaled, y_train)

#predict on test set
y_pred = model.predict(X_test_scaled)

#calculate metrics
print("Accuracy: ",accuracy_score(y_test, y_pred))
print("Report: ",classification_report(y_test, y_pred))
print("Confusion Matrix: ",confusion_matrix(y_test, y_pred))

Accuracy:  0.8174603174603174
Report:                precision    recall  f1-score   support

           0       0.74      0.88      0.80        75
           1       0.77      0.97      0.86        60
           2       0.77      0.96      0.86        53
           3       0.93      0.96      0.94        69
           4       0.85      0.41      0.55        68
           5       0.57      0.37      0.45        70
           6       0.83      0.96      0.89        54
           7       0.92      0.95      0.94        62
           8       0.80      1.00      0.89        63
           9       0.64      0.70      0.67        61
          10       0.91      0.96      0.93        70
          11       0.93      0.77      0.84        65
          12       0.94      0.53      0.67        57
          13       0.80      0.91      0.85        54
          14       0.85      0.95      0.90        61
          15       0.88      0.88      0.88        66

    accuracy                           0.82      1008
   macro avg       0.82      0.82      0.81      1008
weighted avg       0.82      0.82      0.81      1008

Confusion Matrix:  [[66  2  0  0  1  1  0  0  1  1  1  0  0  1  0  1]
 [ 0 58  0  0  0  0  0  0  0  1  0  0  0  0  0  1]
 [ 0  0 51  0  0  0  1  0  0  0  0  0  0  0  1  0]
 [ 0  0  0 66  0  0  0  1  0  0  0  0  0  0  2  0]
 [ 4  3  9  1 28  8  2  1  2  5  0  1  1  2  1  0]
 [ 5  5  0  0  3 26  1  0  7 10  1  2  0  7  0  3]
 [ 0  0  0  0  0  0 52  0  0  2  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0 59  0  0  0  0  1  0  1  0]
 [ 0  0  0  0  0  0  0  0 63  0  0  0  0  0  0  0]
 [ 6  0  1  0  0  3  2  0  2 43  2  1  0  0  0  1]
 [ 1  0  0  0  0  1  0  0  1  0 67  0  0  0  0  0]
 [ 3  5  0  0  0  2  1  0  2  1  1 50  0  0  0  0]
 [ 1  1  3  1  1  2  4  2  1  1  2  0 30  1  5  2]
 [ 0  1  0  0  0  2  0  0  0  2  0  0  0 49  0  0]
 [ 0  0  0  2  0  0  0  1  0  0  0  0  0  0 58  0]
 [ 3  0  2  0  0  1  0  0  0  1  0  0  0  1  0 58]]

**Single Input Predictions**

In [30]:
X_test_scaled[10]

array([-0.78034515, -0.26683487,  0.88484122,  2.93647947, -0.06856661,
        0.73758089, -0.2143445 , -2.01058178, -1.57578303, -3.17854474,
       -1.27847344, -1.29317851, -2.64174527, -2.64147322])

In [31]:
print("Predicted Label:", model.predict(X_test_scaled[10].reshape(1,-1))[0])
print("Actual:", y_test.iloc[10])

Predicted Label: 11
Actual: 11

In [32]:
print("Predicted Label:", model.predict(X_test_scaled[100].reshape(1,-1))[0])
print("Actual:", y_test.iloc[100])

Predicted Label: 13
Actual: 13

In [33]:
print("Predicted Label:", model.predict(X_test_scaled[55].reshape(1,-1))[0])
print("Actual:", y_test.iloc[55])

Predicted Label: 9
Actual: 9

**Saving & Load files**

In [37]:
import pickle

# Save files
pickle.dump(scaler, open(r"D:\C-Drive\Desktop\Python-project\scaler12.pkl", 'wb'))
pickle.dump(model, open(r"D:\C-Drive\Desktop\Python-project\model12.pkl", 'wb'))

In [38]:
#load the scaler, label encoder, and model
scaler = pickle.load(open(r"D:\C-Drive\Desktop\Python-project\scaler12.pkl",'rb'))
model = pickle.load(open(r"D:\C-Drive\Desktop\Python-project\model12.pkl",'rb'))

**Recommendation System**

In [40]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open(r"D:\C-Drive\Desktop\Python-project\scaler12.pkl", 'rb'))
model = pickle.load(open(r"D:\C-Drive\Desktop\Python-project\model12.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [42]:
#[90.2,20.0,10.0,100....17]

In [43]:
# Example usage 1
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=4,
                                        math_score=87,
                                        history_score=73,
                                        physics_score=98,
                                        chemistry_score=91,
                                        biology_score=79,
                                        english_score=60,
                                        geography_score=77,
                                        total_score=583,
                                        average_score=83.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Artist with probability 0.47
Game Developer with probability 0.34
Designer with probability 0.07
Government Officer with probability 0.02
Unknown with probability 0.02

In [44]:
import sklearn
print(sklearn.__version__)

1.6.1